.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    font-family: Roboto;
    font-weight: $third-font-weight;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #f5f4fa;

    transition-property: color, background-color, box-shadow;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__button:hover,
  &__button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
