.hero {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background/hero.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1600px;

  &__title {
    margin: 0 auto 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }

  &__button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    border-color: var(--accent-color);

    background-color: var(--accent-color);
    font-weight: $secondary-weight-bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
  }
}
