.form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__title {
    margin-bottom: 12px;

    font-weight: $secondary-weight-bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--maine-title-color);
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--maine-text-color);
  }

  &__label {
    cursor: pointer;
  }

  &__label:not(:last-child) {
    margin-bottom: 10px;
  }

  &__item {
    position: relative;
  }

  &__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;

    transition-property: border-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__item:focus-within {
    border-color: var(--accent-color);
  }

  &__input:hover,
  &__input:focus {
    border-color: var(--accent-color);
  }

  &__input:hover ~ .form__icon,
  &__input:focus ~ .form__icon {
    fill: var(--accent-color);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 012px;

    transform: translatey(-50%);

    transition-property: fill;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__comments {
    cursor: pointer;
  }

  &__comment {
    margin-top: 4px;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    transition-property: border-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__comment:hover,
  &__comment:focus {
    border-color: var(--accent-color);
  }

  &__comments textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &__link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    border-color: var(--accent-color);

    background-color: var(--accent-color);
    font-weight: $secondary-weight-bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }

  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
  }
}
