.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--second-backgroud-color);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }
}

.logo__secondpart--change {
  color: var(--primary-white-color);
}
